[Desktop Entry]
Type=Application
Name=LIFX - Default
GenericName=LIFX - Default
Comment=Set all LIFX bulbs to default color preset
Exec=/home/denver/github/lifxtools/set_all_default.py
#Icon=arduino-arduinoide
Terminal=true
#Categories=Electronics;
#MimeType=text/x-arduino;
#Keywords=embedded electronics;electronics;avr;microcontroller;
StartupWMClass=processing-app-Base
